.wrapper_user_info {
  width: 30%;
  padding: 16px 0;
  margin-right: 20px;
  margin-top: -50px;
}

.user_img_header {
  width: 100%;
  height: auto;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
  object-fit: contain;
}

.username {
  font-weight: 100;
  font-size: 22px;
  padding: 0;
}

.edit_profile {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #21262d;
  padding: 5px 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 12px;
  background-color: #21262d;
  border: 0.1px solid;
}

.edit_profile:hover {
  background-color: #30363d;
  border: 0.2px solid #9da4ab;
  height: auto;
}

.pull_img {
  width: 64px;
  height: 64px;
  border-radius: 50px;
}

.beta_btn {
  color: #3fb950;
  background-color: transparent;
  border: 1px solid #3fb950;
  border-radius: 10px;
  font-size: 12px;
}

.feedack_link {
  font-size: 12px;
  color: #0550ae !important;
}

.feedack_link:hover {
  text-decoration: underline;
}

a {
  color: #9da4ab !important;
}

button {
  color: #9da4ab !important;
}
